*{
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    
    

}
header{
    background-color: #E8630A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    border-radius: 10px;
    
}

header ul li {
    list-style: none;
    float: left;
    align-content: center;
    color:#B22727;
    padding-left: 5rem;
    font-size: large ;
    font-weight: 800;
  
}


button{
    background-color: #001E6C ;
    
    color: #FCD900;
    border-radius: 20px;
    border-color: none ;
    margin-bottom: 0rem;
    padding: 12px;
    font-weight: 800;
    font-size: large;

}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 20px;
    background-image:#344851;
    border-radius: 50px;
    
    

}
.hero img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: 0rem 10rem;

}
.hero .about {
    
    margin: 0rem 0rem;
    padding-right: 10rem;

}

.exp{
    
    align-items: flex-start;
    gap: .5rem;
}

.text, span{
    font-size: 60px;
}

.type ul{
    height: 100px;
    list-style : none;
    overflow: hidden;
}

.type ul li{
    position: relative;
    height: 100px;

    animation: to-top 12s steps(4) infinite;
}

ul li span{
  color : rgb(39, 217, 8);
}

ul li::after{
    content: '';
    position: absolute;
    background: none;
   


    animation: to-right 3s steps(19) infinite;
}



.proj{
    
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
    background-color: #035397;

}

.projlist{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;


}
.proj .projlist img{
    padding-left: 10px;
    height: 250px;
    width: 400px;

}

@keyframes to-right{
    40%, 60%{
        left: calc(100% + 50px);
    }
    95%{
        left: 0;
    }
}

@keyframes to-top {
    100%{
        transform: translateY(-400% );
        /* OR 
         transform: translateY(calc(-100px * 4)); */ 
  }
}